<br><br>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12"></div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="text-center">
            </div>
            <form #frmUsuario='ngForm'>
                <div class="text card m-2">
                    <div class="card-header">
                        <b>Iniciar Sesión</b>
                    </div>
                    <div class="card-body">
                        <img src="assets/images/avatars/lol.png" width="125" height="125"
                            class="rounded mx-auto d-block" alt="Usuario">
                        <br>
                        <div class="mb-3">
                            <label for="rut" class="form-label"><i class="fa fa-id-card" aria-hidden="true"></i>
                                RUC Empresa</label>
                            <input type="text" name="rut" class="form-control form-control-sm text-uppercase"
                                [(ngModel)]="usuario.rut_empresa" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="codigo" class="form-label"><i class="fa fa-user" aria-hidden="true"></i>
                                Usuario</label>
                            <input type="text" name="codigo" class="form-control form-control-sm"
                                [(ngModel)]="usuario.username" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="clave" class="form-label"><i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                Contraseña</label>
                            <div class="input-group mb-3">
                                <input type="password" name="clave" class="form-control form-control-sm" id="clave"
                                    [(ngModel)]="usuario.clave">
                                <span class="input-group-text" type="button" (click)="visualizar()" id="abierto"><i
                                        class="fa fa-eye" aria-hidden="true"></i></span>
                                <span class="input-group-text" type="button" (click)="visualizar()" id="cerrado"
                                    hidden><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" name="recordarClave" [(ngModel)]="recordarClave"
                                class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Recordar información</label>
                        </div>
                        <div class="text-center">
                            <button type="submit" (click)="iniciar(frmUsuario)" class="btn btn-primary btn-sm">Iniciar
                                Sesion</button>
                            <br>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12"></div>
    </div>
</div>

<div class="footer-basic " style="bottom: 0; position: fixed; width: 100%;">
    <footer class="pb-1" style="margin-left: -50px;">
        <div class="footer-copyright text-center">
            <img src="assets/images/logo3.png" class="rounded-circle">
            <a href="https://www.checkseguro.com/"> www.checkseguro.com </a>
            <img src="assets/images/logo2.png"> @check_seguro
            <img src="assets/images/logo1.png"> Check Seguro

        </div>
    </footer>
</div>

<div *ngIf="cargando">
    <app-cargando></app-cargando>
</div>