<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">Virtual</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/totem">Totem</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/tienda">Tienda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/empresa">Empresa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/usuario">Usuario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/tipo-operacion">Tipo Operación</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<div class="container">
    card
    <div class="text-center">
    </div>
    <form #frmTipoOperacion='ngForm'>
        <div class="text card m-2">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8">
                        <h3> Registrar Tipo Operacion</h3>
                    </div>
                    <div class="col-md-4" style="text-align: right;">
                        <button type="button" routerLink="/tipo-operacion" class="btn btn-secondary"><i
                                class="fa fa-arrow-left" aria-hidden="true"></i> Regresar</button>
                        <button type="submit" (click)="guardarTipoOperacion(frmTipoOperacion)"
                            class="btn btn-success ms-1"  routerLink="/tipo-operacion"><i class="fa fa-floppy-o" aria-hidden="true"></i>
                            Guardar</button>
                    </div>
                </div>
            </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label>Seleccione la Tienda</label>
                            <select class="form-select" aria-label="Default select example"
                                [(ngModel)]="tiendaSeleccionada" (ngModelChange)="listarTotems()"
                                name="tiendaSeleccionada" required>
                                <option value="" disabled selected>Seleccione la Tienda</option>
                                <option *ngFor="let tienda of tiendas" [ngValue]="tienda.codigo">{{tienda.codigo}} --
                                    {{tienda.direccion}}
                                </option>
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>Seleccione la Totem</label>
                            <select class="form-select" aria-label="Default select example"
                                [(ngModel)]="tipoOperacion.codigo_totem" name="totemSeleccionado" required>
                                <option value="" disabled selected>Seleccione la Totem</option>
                                <option *ngFor="let totem of totems" [ngValue]="totem.codigo">{{totem.codigo}} --
                                    {{totem.ubicacion}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="codigo">Codigo</label>
                            <input required name="codigo" class="form-control text-uppercase"
                                [(ngModel)]="tipoOperacion.codigo" placeholder="Ingrese el codigo">
                            <br>
                            <label for="descripcion">Descripcón</label>
                            <input required name="descripcion" class="form-control text-uppercase"
                                [(ngModel)]="tipoOperacion.descripcion" placeholder="Descripcion">
                            <br>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="text-center">
                    <div id="cargando" hidden class="spinner-border text-success" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
        </div>
    </form>
</div>

<script>
    function activarCargando() {
        document.getElementById("cargando").hidden = false;
    }
</script>