<app-encabezado></app-encabezado>
<br>
<div class="container pb-5 col-lg-10 col-md-12 col-sm-12">
    <div class="text-center">
    </div>
    <form #frmTipoOperacion='ngForm'>
        <div class="text card m-2">
            <div class="card-header">
                        <b> {{esEdicion?'Modificar':'Registrar'}} Tipo Operación</b>
                    <div class="btn-actions-pane-right">
                        <button type="button" routerLink="/tipo-operacion" class="btn btn-secondary btn-sm"><i
                                class="fa pe-7s-angle-left-circle" aria-hidden="true"></i> Regresar</button>
                        <button type="submit" (click)="guardarTipoOperacion(frmTipoOperacion)"
                            class="btn btn-success ml-1 btn-sm"><i class="fa pe-7s-diskette" aria-hidden="true"></i>
                            Guardar</button>
                    </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <br>
                    <div class="form-group">
                        <label>Seleccione la Tienda</label>
                        <select class="form-select form-select-sm" aria-label="Default select example"
                            [(ngModel)]="tiendaSeleccionada" (ngModelChange)="listarTotems()" name="tiendaSeleccionada"
                            required>
                            <option value="" disabled selected>Seleccione la Tienda</option>
                            <option *ngFor="let tienda of tiendas" [ngValue]="tienda.codigo">{{tienda.codigo}} --
                                {{tienda.direccion}}
                            </option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Seleccione la Totem</label>
                        <select class="form-select form-select-sm" aria-label="Default select example"
                            [(ngModel)]="tipoOperacion.codigo_totem" name="totemSeleccionado" required>
                            <option value="" disabled selected>Seleccione el Totem</option>
                            <option *ngFor="let totem of totems" [ngValue]="totem.codigo">{{totem.codigo}} --
                                {{totem.ubicacion}}
                            </option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="codigo">Codigo</label>
                        <input required name="codigo" class="form-control form-control-sm text-uppercase"
                            [disabled]="esEdicion" [(ngModel)]="tipoOperacion.codigo" placeholder="Ingrese el codigo">
                        <br>
                        <label for="descripcion">Descripcón</label>
                        <input required name="descripcion" class="form-control form-control-sm text-uppercase"
                            [(ngModel)]="tipoOperacion.descripcion" placeholder="Descripcion">
                        <br>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </form>
</div>
<div *ngIf="cargando">
    <app-cargando></app-cargando>
</div>