<div class="card-body">
  <form #frmTicket='ngForm' class="row">
    <div class="col-md-12 col-xl-12">
      <div class="card mb-3 widget-content  {{empresa.cabecera}} {{color}}">
        <div class="widget-content-wrapper ">
          <div class="widget-content-left">
            <div class="widget-heading" routerLink="/sucursal/{{sucursalSeleccionada}}">Complete información Sucursal:
              {{sucursalSeleccionada}} - {{sucursal.direccion}}
            </div>
            <div class="widget-heading">Fila: {{filaCodigo}} - {{fila.descripcion}}</div>
          </div>
          <div class="widget-content-right" style="font-size: 16px;">
            <div class="widget-numbers "><i routerLink="/sucursal/{{sucursalSeleccionada}}"
                class="fa fa-arrow-left"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="!horaSeleccionada">
      <div class="main-card mb-3 card">
        <div class="no-gutters row">
          <div class="col-md-12">
            <div class="col-md-12 mb-3">
              <label for="rut">Fecha de Cita</label>
              <input type="date" class="form-control form-control-sm" [(ngModel)]="ticket.fecha_cita" name="fecha_cita"
                required min="{{fechaActual | date:'yyyy-MM-dd'}}">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3" *ngIf="horaSeleccionada"></div>
    <div class="col-md-6" *ngIf="horaSeleccionada" id="print">
      <div class="main-card mb-1 card">
        <div class="no-gutters row">
          <div class="col-md-12">
            <div class="pt-0 pb-0 card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngIf="generado">
                  <div class="widget-content p-0">
                    <div class="widget-content-outer">
                      <div class="widget-content-wrapper">
                        <div class="widget-content-left">
                        </div>
                        <div class="widget-content-right">
                          <div class="widget-numbers text-success" (click)="printer()" style="cursor: pointer;"><i
                              class="fa fa-print  icon-gradient bg-premium-dark"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="mt-3 mb-3 text-center card card-body" style="color: black; background-color: #dfdfdf;">
                    <b>Te esperamos el día: </b>
                    <h5 class="card-title" style="color: black;">{{ticket.fecha_cita}} a las {{horaSeleccionada}}</h5>
                    <br>
                    <b>En la Fila: </b>
                    <h5 class="card-title" style="color: black;">{{fila.descripcion}}</h5>
                    <br>
                    <b>Sucursal: </b>
                    <h5 class="card-title" style="color: black;">{{sucursal.direccion}}</h5>
                    <br>
                    <b>Numero de Ticket: </b>
                    <h5 class="card-title" style="color: black;">R - {{fila.codigo}} - {{numeracion}}</h5>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3" *ngIf="horaSeleccionada"></div>

    <div class="col-md-12 text-center" *ngIf="generado">
      <button class="mb-2 mr-2 btn badge badge-pill badge-danger" (click)="anularProgramado()">Anular Reserva</button>
    </div>

    <div class="col-md-6" *ngIf="ticket.fecha_cita && !horaSeleccionada">
      <div class="main-card mb-3 card pl-2 pr-2 pb-3">
        <label for="rut">Hora de Cita</label>
        <input type="time" class="form-control form-control-sm" [(ngModel)]="ticket.hora_cita" name="hora_cita"
          required>
      </div>
      <div class="text-center">
        <button class="btn btn-primary m-1" (click)="sacarCita(frmTicket, ticket.hora_cita)"><i class="fa fa-check"></i>
          Confirmar</button>
      </div>
      <!-- <button class="btn btn-primary m-1" (click)="sacarCita(frmTicket, item)"
        *ngFor="let item of horas; index as i;">{{item}}</button> -->
    </div>

    <div class="col-md-12 mb-3 mt-3 text-center" *ngIf="horaSeleccionada && !generado">
      <button type="button" class="btn btn-primary mr-1" (click)="programarTicket()"><i class="fa fa-paper-plane"
          aria-hidden="true"></i> Confirmar</button>
      <button type="button" class="btn btn-secondary" (click)="horaSeleccionada = ''"><i class="fa fa-undo"
          aria-hidden="true"></i> Regresar</button>
    </div>

    <div class="col-md-12 mb-3 mt-3 text-center" *ngIf="generado">
      <button type="button" class="btn btn-secondary" routerLink="/"><i class="fa fa-undo" aria-hidden="true"></i>
        Regresar</button>
    </div>
  </form>
</div>
<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>