<app-encabezado></app-encabezado>
<br><br><br><br><br><br><br>
<form>
<div class="container">
    <div class="row">
    <div class="col-6">
        <div class="text-center">
        <img src="assets/imagen/ticket.png" width="300" height="300" class="rounded mx-auto d-block" alt="Usuario">
    </div>
    </div>
    <div class="col-5">
       <h1> <p class="font-monospace" style="text-align:center">Bienvenido al sistema de administración y gestión de tickets de turnos virtuales y atención al público.</p></h1>
    </div>
    <div class="col-1"></div>
</div>
</div>
</form>