<div class="container pb-5 col-lg-12 col-md-10 col-sm-12">
    <form #frmTienda='ngForm'>
        <div class="text card m-2">
            <div class="card-header">
                <b> {{esEdicion?'Modificar':'Registrar'}} Tienda</b>
                <div class="btn-actions-pane-right">
                    <button type="button" routerLink="/tienda" class="btn btn-secondary btn-sm"><i
                            class="fa pe-7s-angle-left-circle pr-1" aria-hidden="true"></i>Regresar</button>
                    <button type="submit" (click)="guardarTienda(frmTienda)" class="btn btn-success ml-1 btn-sm"><i
                            class="fa pe-7s-diskette pr-1" aria-hidden="true"></i>Guardar</button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <label for="codigo">Código</label>
                        <input required name="codigo" class="form-control form-control-sm text-uppercase"
                            [(ngModel)]="tienda.codigo" [disabled]="esEdicion" placeholder="Ingrese el código de tienda"
                            required>
                        <br>
                    </div>
                    <div class="col-md-6">
                        <label for="celular">Teléfono/Celular</label>
                        <input required name="celular" class="form-control form-control-sm text-uppercase"
                            [(ngModel)]="tienda.telefono" placeholder="Ingrese su numero de Teléfono o Celular"
                            required>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="direccion">Dirección</label>
                        <input required name="direccion" class="form-control form-control-sm text-uppercase"
                            [(ngModel)]="tienda.direccion" placeholder="Dirección de la Empresa" required>
                        <br>
                    </div>
                </div>
                <div class="text">
                    <label for="horario">Horarios De Atención</label>
                </div>
                <div class="text">
                    <label for=""></label>
                    <label class="text-decoration-underline" for="l_inicio_atencion">Lunes</label>
                </div>
                <div class="form-row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="l_inicio_atencion"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                                Inicio</label>
                            <input name="l_inicio_atencion" type="time"
                                class="form-control form-control-sm  text-uppercasem"
                                [(ngModel)]="tienda.l_inicio_atencion">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="l_fin_atencion"><i class="fa fa-calendar-o" aria-hidden="true"></i> Fin</label>
                            <input name="l_fin_atencion" type="time"
                                class="form-control form-control-sm text-uppercasem"
                                [(ngModel)]="tienda.l_fin_atencion">
                        </div>
                    </div>
                </div>
                <div class="text">
                    <br>
                    <label class="text-decoration-underline" for="m_inicio_atencion">Martes</label>
                </div>
                <div class="form-row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="m_inicio_atencion"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                                Inicio</label>
                            <input name="m_inicio_atencion" type="time"
                                class="form-control form-control-sm text-uppercasem"
                                [(ngModel)]="tienda.m_inicio_atencion">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="m_fin_atencion"><i class="fa fa-calendar-o" aria-hidden="true"></i> Fin</label>
                            <input name="m_fin_atencion" type="time"
                                class="form-control form-control-sm text-uppercasem"
                                [(ngModel)]="tienda.m_fin_atencion">
                        </div>
                    </div>
                </div>
                <div class="text">
                    <br>
                    <label class="text-decoration-underline" for="mm_inicio_atencion">Miercoles</label>
                </div>
                <div class="form-row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="mm_inicio_atencion"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                                Inicio</label>
                            <input name="mm_inicio_atencion" type="time"
                                class="form-control form-control-sm text-uppercasem"
                                [(ngModel)]="tienda.mm_inicio_atencion">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="mm_fin_atencion"><i class="fa fa-calendar-o" aria-hidden="true"></i> Fin</label>
                            <input name="mm_fin_atencion" type="time"
                                class="form-control form-control-sm text-uppercasem"
                                [(ngModel)]="tienda.mm_fin_atencion">
                        </div>
                    </div>
                </div>
                <div class="text">
                    <br>
                    <label class="text-decoration-underline" for="j_inicio_atencion">Jueves</label>
                </div>
                <div class="form-row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="j_inicio_atencion"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                                Inicio</label>
                            <input name="j_inicio_atencion" type="time"
                                class="form-control form-control-sm text-uppercasem"
                                [(ngModel)]="tienda.j_inicio_atencion">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="j_fin_atencion"><i class="fa fa-calendar-o" aria-hidden="true"></i> Fin</label>
                            <input name="j_fin_atencion" type="time"
                                class="form-control form-control-sm text-uppercasem"
                                [(ngModel)]="tienda.j_fin_atencion">
                        </div>
                    </div>
                </div>
                <div class="text">
                    <br>
                    <label class="text-decoration-underline" for="v_inicio_atencion">Viernes</label>
                </div>
                <div class="form-row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="v_inicio_atencion"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                                Inicio</label>
                            <input name="v_inicio_atencion" type="time"
                                class="form-control form-control-sm text-uppercasem"
                                [(ngModel)]="tienda.v_inicio_atencion">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="v_fin_atencion"><i class="fa fa-calendar-o" aria-hidden="true"></i> Fin</label>
                            <input name="v_fin_atencion" type="time"
                                class="form-control form-control-sm text-uppercasem"
                                [(ngModel)]="tienda.v_fin_atencion">
                        </div>
                    </div>
                </div>
                <div class="text">
                    <br>
                    <label class="text-decoration-underline" for="s_inicio_atencion">Sabado</label>
                </div>
                <div class="form-row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="s_inicio_atencion"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                                Inicio</label>
                            <input name="s_inicio_atencion" type="time"
                                class="form-control form-control-sm text-uppercasem"
                                [(ngModel)]="tienda.s_inicio_atencion">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="s_fin_atencion"><i class="fa fa-calendar-o" aria-hidden="true"></i> Fin</label>
                            <input name="s_fin_atencion" type="time"
                                class="form-control form-control-sm text-uppercasem"
                                [(ngModel)]="tienda.s_fin_atencion">
                        </div>
                    </div>
                </div>
                <div class="text">
                    <br>
                    <label class="text-decoration-underline" for="d_inicio_atencion">Domingo</label>
                </div>
                <div class="form-row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="d_inicio_atencion"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                                Inicio</label>
                            <input name="d_inicio_atencion" type="time"
                                class="form-control form-control-sm text-uppercasem"
                                [(ngModel)]="tienda.d_inicio_atencion">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="d_fin_atencion"><i class="fa fa-calendar-o" aria-hidden="true"></i> Fin</label>
                            <input name="d_fin_atencion" type="time"
                                class="form-control form-control-sm text-uppercasem"
                                [(ngModel)]="tienda.d_fin_atencion">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div *ngIf="cargando">
    <app-cargando></app-cargando>
</div>