<br>
<div class="container">
  <div class="row ps-5 pe-5">
    <div class="col-lg-1 col-md-12 col-sm-12"></div>
    <div class="col-lg-10 col-md-12 col-sm-12">
      <div class="card-header text-center rounded-pill border-info">
        <h1> Generar Ticket </h1>
      </div>
    </div>
    <div class="col-lg-1 col-md-12 col-sm-12"></div>
  </div>
</div>
<br>
<form class="container">
  <div class="row">
    <div class="col-lg-1 col-md-12 col-sm-12"></div>
    <div class="col-lg-10 col-md-12 col-sm-12">
      <div class="text card m-2">
        <div class="card-header">
          Generar Ticket
        </div>
        <div class="card-body">
          <div class="row">
            <div class="mb-3">
              <label>Seleccione la tienda de su preferencia</label>
              <select class="form-select" aria-label="Default select example" [(ngModel)]="tiendaSeleccionada"
                name="tiendaSeleccionada" required>
                <option *ngFor="let tienda of tiendas" [ngValue]="tienda.codigo">{{tienda.codigo}} --
                  {{tienda.direccion}}
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label>Seleccione el tipo de ticket</label>
              <select class="form-select" aria-label="Default select example" required>
                <option value="1">Tarjeta de credito</option>
                <option value="2">Consulta de TOTEM</option>
                <option value="3">Remodificar datos del TOTEM</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1">Correo Electronico</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Ejm: example_123@gmail.com" required>
              <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie
                más.</small>
            </div>
            <div class="mb-3">
              <label>Telefono</label>
              <input type="number" class="form-control" name="usuario" placeholder="Telefono">
            </div>
            <div class="mb-3 text-center">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label ms-2" for="exampleCheck1"> Añadir recordatorio</label>
            </div>
            <div class="mb-3 text-center">
              <button type="submit" class="btn btn-success"><i class="fa fa-paper-plane" aria-hidden="true"></i> Generar
                Ticket</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-1 col-md-12 col-sm-12"></div>
  </div>
</form>