<div class="container pb-5 col-lg-12 col-md-12 col-sm-12">
    <div class="text card m-2">
        <div class="card-header">
            <b> {{esEdicion?'Modificar':'Registrar'}} Totem</b>
            <div class="btn-actions-pane-right">
                <button type="button" routerLink="/admin/totem" class="btn btn-secondary btn-sm"><i
                        class="fa pe-7s-angle-left-circle pr-1" aria-hidden="true"></i>Regresar</button>
                <button (click)="guardarTotem(frmTotem)" class="btn btn-success ml-1 btn-sm"><i
                        class="fa pe-7s-diskette pr-1" aria-hidden="true"></i>Guardar</button>

            </div>
        </div>
        <div class="card-body">
            <form #frmTotem='ngForm'>
                <div class="row">
                    <div class="col-md-6">
                        <label for="codigo">Código</label>
                        <input required name="codigo" class="form-control form-control-sm text-uppercase"
                            [disabled]="esEdicion" [(ngModel)]="totem.codigo" placeholder="Código del Totem" required>
                    </div>
                    <div class="col-md-6">
                        <label>Seleccione la Sucursal</label>
                        <select class="form-control form-control-sm " aria-label="Default select example"
                            [(ngModel)]="totem.codigo_sucursal" (ngModelChange)="listarFilas()"
                            name="sucursalSeleccionada" required>
                            <option value="" disabled selected>Seleccione la Sucursal</option>
                            <option *ngFor="let sucursal of sucursales" [ngValue]="sucursal.codigo">{{sucursal.codigo}}
                                --
                                {{sucursal.direccion}}
                            </option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="ubicacion">Ubicación en Sucursal</label>
                    <input required name="ubicacion" class="form-control form-control-sm text-uppercase"
                        [(ngModel)]="totem.ubicacion" placeholder="p.e: Entrada Principal" required>
                </div>
            </form>

            <div class="table-responsive">
                <table class="table table-sm table-bordered mb-0">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Sucursal</th>
                            <th>Descripcón</th>
                            <th>Tiempo Estimado Minutos</th>
                            <th class="text-center">Seleccionar</th>
                        </tr>
                    </thead>
                    <tbody style="background-color: #ffffff;">
                        <tr *ngFor="let fila of filas; let i = index;">
                            <td>{{fila.codigo}}</td>
                            <td>{{fila.codigo_sucursal}}</td>
                            <td>{{fila.descripcion}}</td>
                            <td>{{fila.tiempo_estimado_minutos}} min</td>
                            <td class="text-center">
                                <input type="checkbox" name="recordarClave-{{i}}" [(ngModel)]="fila['seleccionado']"
                                    class="form-control form-control-sm">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div *ngIf="cargando">
    <app-cargando></app-cargando>
</div>