<app-encabezado></app-encabezado>
<br>
<div class="container">
    <div class="text card m-2">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                    <h3> Registrar Totem</h3>
                </div>
                <div class="col-md-4" style="text-align: right;">
                    <button type="button" routerLink="/totem" class="btn btn-secondary"><i class="fa fa-arrow-left"
                            aria-hidden="true"></i> Regresar</button>
                    <button (click)="guardarTotem(frmTotem)" class="btn btn-success ms-1">Guardar</button>

                </div>
            </div>
        </div>
        <div class="card-body">
            <br>
            <form #frmTotem='ngForm'>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="form-group">
                            <label for="codigo">Código</label>
                            <input required name="codigo" class="form-control text-uppercase" [(ngModel)]="totem.codigo"
                                placeholder="Codigo del Totem" required>
                            <br>
                            <label>Seleccione la Tienda</label>
                            <select class="form-select" aria-label="Default select example"
                                [(ngModel)]="totem.codigo_tienda" name="tiendaSeleccionada" required>
                                <option value="" disabled selected>Seleccione la Tienda</option>
                                <option *ngFor="let tienda of tiendas" [ngValue]="tienda.codigo">{{tienda.codigo}} --
                                    {{tienda.direccion}}
                                </option>
                            </select>
                            <br>
                        </div>
                        <div class="form-group">
                            <label for="ubicacion">Dirección</label>
                            <input required name="ubicacion" class="form-control text-uppercase"
                                [(ngModel)]="totem.ubicacion" placeholder="Direccion del Totem" required>
                            <br>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
                <br>
                <div class="text-center">
                    <div id="cargando" hidden class="spinner-border text-success" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div *ngIf="cargando">
    <app-cargando></app-cargando>
</div>

<app-pie-pagina></app-pie-pagina>