<form #frmTickets='ngForm' class="container pb-5 col-lg-12 col-md-12 col-sm-12">
    <div class="card mb-5">
        <div class="card-header">
            <b>Atención</b>
            <div class="btn-actions-pane-right">
                <button type="button" id="recargar" class="btn btn-success ml-1 btn-sm"
                    (click)="listarTickets(frmTickets)"><i class="fa pe-7s-refresh pr-1"
                        aria-hidden="true"></i>Buscar</button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label>Sucursal</label>
                        <select class="form-control form-control-sm" disabled aria-label="Default select example"
                            [(ngModel)]="sucursalSeleccionada" name="sucursalSeleccionada" required>
                            <option *ngFor="let sucursal of sucursales" [ngValue]="sucursal.codigo">{{sucursal.codigo}} --
                                {{sucursal.direccion}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Seleccione la Fila</label>
                        <select class="form-control form-control-sm" aria-label="Default select example"
                            [(ngModel)]="fila" name="fila">
                            <option *ngFor="let fila of filas" [ngValue]="fila.codigo">{{fila.codigo}} --
                                {{fila.descripcion}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>FECHA</label>
                        <input name="fecha_sacado" type="date" class="form-control form-control-sm  text-uppercasem"
                            [(ngModel)]="fecha_sacado" required>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card p-5" style="background-color: #383c38;">
        <div class="row-container" style="background-color: #ffffff;">
            <div class="col-12 text-center fs-1">
                <label>TURNO:</label>
            </div>
        </div>
        <div class="row-container" style="background-color: #ffffff;">
            <div class="col-12 text-center">
                <button class="mb-2 mr-2 btn badge badge-pill badge-success">{{ticketSeleccionado?.estado}}</button>
                <h1><input class="form-control-center" style="text-align: center;" type="text" name="ticketSeleccionado"
                        [(ngModel)]="nombreTicket" disabled></h1>
                <button *ngIf="ticketSeleccionado && !ticketSeleccionado?.estado" (click)="atender('EN ATENCION')"
                    class="mb-2 mr-2 btn badge badge-pill badge-primary">Iniciar Atención</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-5 text-center">
                <button type="button" class="btn btn-success" (click)="retroceder()"><i class="fa fa-fast-backward"
                        aria-hidden="true"></i>
                    Retroceder Turno</button>
            </div>
            <div class="col-2"></div>
            <div class="col-5 text-center">
                <button type="button" class="btn btn-primary" (click)="atender('ATENDIDO')"><i
                        class="fa fa-fast-forward" aria-hidden="true"></i>
                    Siguiente Turno</button>
            </div>
        </div>
        <p></p>
    </div>
</form>

<div *ngIf="cargando">
    <app-cargando></app-cargando>
</div>