<app-encabezado></app-encabezado>
<br>
<br>
<br>
<br>
<br>
<form class="container pb-5 col-lg-10 col-md-12 col-sm-12" style="background-color: #0c0c0c;">
    <br>
    <br>
    <div class="card " style="background-color: #383c38;">
        <div class="row-container" style="background-color: #ffffff;">
            <div class="col-12 text-center fs-1">
                <label>TURNO:</label>
            </div>
        </div>
        <div class="row-container" style="background-color: #ffffff;">
            <div class="col-12 text-center">
               <h1><input class="form-control-center" style="text-align: center;" type="text" name="ticketSeleccionado" [(ngModel)]="ticketSeleccionado" disabled></h1>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-5 text-center">
                <button type="button" class="btn btn-success"><i class="fa fa-fast-backward" aria-hidden="true"></i>
                    Retroceder Turno</button>
            </div>
            <div class="col-2"></div>
            <div class="col-5 text-center">
                <button type="button" class="btn btn-primary"><i class="fa fa-fast-forward" aria-hidden="true"></i>
                    Siguiente Turno</button>
            </div>
        </div>
        <p></p>
    </div>
</form>

<div *ngIf="cargando">
    <app-cargando></app-cargando>
</div>