<div class="card-body">
  <div class="row">
    <div class="col-md-12 col-xl-12">
      <div class="card mb-3 widget-content bg-grow-early">
        <div class="widget-content-wrapper text-white">
          <div class="widget-content-left">
            <div class="widget-heading" routerLink="/">Seleccione la Fila en la Sucursal:
              {{tiendaSeleccionada}}</div>
          </div>
          <div class="widget-content-right" style="font-size: 16px;">
            <div class="widget-numbers text-white"><i routerLink="/" class="fa fa-arrow-left"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-4" style="cursor: pointer;" routerLink="/tipo/{{tiendaSeleccionada}}/{{tipo.codigo}}"
      *ngFor="let tipo of tipos">
      <div class="card mb-3 widget-content">
        <div class="widget-content-wrapper">
          <div class="widget-content-left">
            <div class="widget-heading">{{tipo.codigo}}</div>
            <div class="widget-subheading">{{tipo.descripcion}}</div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-success"><span class="fa fa-chevron-right"></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>