<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<form class="container pb-5 col-lg-10 col-md-12 col-sm-12" style="background-color: #0c0c0c;">
    <br>
    <br>
    <div class="card " style="background-color: #383c38;">
        <div class="row-container" style="background-color: #ffffff;">
            <div class="col-12 fs-1">
            <label>USTED HA GENERADO UN TICKET.</label>
        </div>
        <br>
            <div class="col-12 text-center fs-1">
                <label>TURNO:</label>
            </div>
        </div>
        <div class="row-container" style="background-color: #ffffff;">
            <div class="col-12 text-center">
               <h1><input class="form-control-center" style="text-align: center;" type="text" name="ticketSeleccionado"disabled></h1>
            </div>
            <br>
            <div class="row">
                <div class="col-12 fs-1">
                    <label>USTED HA GENERADO UN TICKET.</label>
                </div>
            </div>
        </div>
        <br>
        
        <p></p>
    </div>
</form>