<app-encabezado></app-encabezado>
<form class="container pb-5 col-lg-12 col-md-12 col-sm-12">
    <div class="card">
        <div class="card-header">
                    <b>Listado de tipo de operación</b>
                <div class="btn-actions-pane-right">
                    <a class="btn btn-primary btn-sm" routerLink="nuevo"><i class="fa fa-plus-circle"
                            aria-hidden="true"></i>
                        Nuevo</a>
                </div>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <div class="p-1 ps-3">
                    <h6> Seleccione Tienda</h6>
                </div>
                <div class="input-group mb-3 p-2 pt-0">
                    <select class="form-control form-control-sm " aria-label="Default select example"
                        [(ngModel)]="tiendaSeleccionada" name="tiendaSeleccionada" required>
                        <option value="" disabled selected>Seleccione el Totem</option>
                        <option *ngFor="let tienda of tiendas" [ngValue]="tienda.codigo">{{tienda.codigo}} --
                            {{tienda.direccion}}
                        </option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary btn-sm" type="button" (click)="listarTipos()"><i
                                class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-sm table-bordered mb-0">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Código Totem</th>
                                <th>Descripcón</th>
                                <th class="text-center">Editar</th>
                                <th class="text-center">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody style="background-color: #ffffff;">
                            <tr *ngFor="let tipo of tipos">
                                <td>{{tipo.codigo}}</td>
                                <td>{{tipo.codigo_totem}}</td>
                                <td>{{tipo.descripcion}}</td>
                                <td class="text-center"><button type="button" class="btn btn-sm btn-success"
                                        [routerLink]="['editar', tipo.codigo]"><i class="fa fa-edit"
                                            aria-hidden="true"></i></button></td>
                                <td class="text-center"><button type="button" class="btn btn-sm btn-danger"
                                        data-bs-toggle="modal" data-bs-target="#exampleModal"
                                        (click)="seleccionado = tipo;">
                                        <i class="fa fa-trash" aria-hidden="true"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">TIPO OPERACION</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Esta seguro eliminar este registro tipo operacion con codigo {{seleccionado.codigo}}.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cerrar" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="eliminar()">Confirmar</button>
            </div>
        </div>
        <div *ngIf="cargando">
            <app-cargando></app-cargando>
        </div>
    </div>
</div>
<div *ngIf="cargando">
    <app-cargando></app-cargando>
</div>