<app-encabezado></app-encabezado>
<br>
<div class="container">
    <div class="text-center">
    </div>
    <form #frmUsuario='ngForm'>
        <div class="text card m-2">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8">
                        <h3> Registrar Usuario</h3>
                    </div>
                    <div class="col-md-4" style="text-align: right;">
                        <button type="button" routerLink="/usuario" class="btn btn-secondary"><i
                                class="fa fa-arrow-left" aria-hidden="true"></i> Regresar</button>
                        <button type="button" (click)="guardarUsuario(frmUsuario)" class="btn btn-success ms-1"><i
                                class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <br>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="nombre">Nombre: </label>
                            <input required name="nombre" class="form-control text-uppercase"
                                [(ngModel)]="usuario.nombre" placeholder="Ingrese el nombre">
                            <br>
                            <label for="apellidos">Apellido: </label>
                            <input required name="apellidos" class="form-control text-uppercase"
                                [(ngModel)]="usuario.apellidos" placeholder="Ingrese el apellido">
                            <br>
                            <label for="codigo">Nombre de usuario: </label>
                            <input required name="codigo" class="form-control text-uppercase"
                                [(ngModel)]="usuario.codigo" placeholder="Ejm; @example123">
                            <br>
                                <label for="clave" class="form-label">Contraseña</label>
                                <input type="password" name="clave" class="form-control"  [(ngModel)]="usuario.clave">
                            <br>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="telefono">Telefono/Celular: </label>
                            <input required name="telefono" class="form-control text-uppercase"
                                [(ngModel)]="usuario.telefono" placeholder="Ingrese su numero de Telefono o Celular">
                            <br>
                        </div>
                    </div>
                </div>
                <br>
                <div class="mb-3 text-center">
                    <input type="checkbox" class="form-check-input" name="estado" [(ngModel)]="usuario.estado">
                    <label class="form-check-label ms-2" for="exampleCheck1">Activo</label>
                  </div>
            </div>
        </div>
    </form>
</div>

<div *ngIf="cargando">
    <app-cargando></app-cargando>
</div>

<app-pie-pagina></app-pie-pagina>