<div class="container pb-5 col-lg-12 col-md-12 col-sm-12">
  <div class="text-center">
  </div>
  <form #frmEmpresa='ngForm'>
    <div class="text card m-2">
      <div class="card-header">
        <b>Configuración de Empresa</b>
        <div class="btn-actions-pane-right">
          <button type="submit" (click)="guardarEmpresa(frmEmpresa)" class="btn btn-success"><i class="fa fa-save"
              aria-hidden="true"></i> Guardar</button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="rut">RUT</label>
              <input required name="rut" class="form-control form-control-sm text-uppercase" [disabled]="true"
                [(ngModel)]="empresa.rut" placeholder="Ingrese el RUT">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="razon_social">Razón Social</label>
              <input required name="celular" class="form-control form-control-sm text-uppercase" [disabled]="true"
                [(ngModel)]="empresa.razon_social" placeholder="Ingrese su razon social.">
            </div>
          </div>
          <div class="col-md-12 text-center">
            <div class="form-group">
              <input type="checkbox" class=" form-check-input" name="obligar_persona"
                [(ngModel)]="empresa.obligar_persona">
              <label for="razon_social">Obligar Persona</label>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <div class="form-group">
              <input type="checkbox" class=" form-check-input" name="obligar_correo"
                [(ngModel)]="empresa.obligar_correo">
              <label for="razon_social">Obligar Email</label>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <div class="form-group">
              <input type="checkbox" class=" form-check-input" name="obligar_celular"
                [(ngModel)]="empresa.obligar_celular">
              <label for="razon_social">Obligar Teléfono</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="theme-settings__inner">
              <div class="scrollbar-container">
                <div class="theme-settings__options-wrapper">
                  <div class="p-3">
                    <ul class="list-group">
                      <li class="list-group-item">
                        <div class="card-header" style="height: 2rem; border-bottom: 0;">
                          <b>Elegir colores para la cabecera</b>
                          <div class="btn-actions-pane-right">
                            <button class="mb-2 mr-2 btn badge badge-pill badge-danger" (click)="quitarColor()">Quitar
                              Color</button>
                          </div>
                        </div>
                        <h5 class="pb-2">
                        </h5>
                        <div class="theme-settings-swatches">
                          <div class="swatch-holder bg-primary switch-header-cs-class" id="bg-primary-header-text-light"
                            (click)="elegirColor($event, 'bg-primary', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-secondary switch-header-cs-class"
                            id="bg-secondary-header-text-light"
                            (click)="elegirColor($event, 'bg-secondary', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-success switch-header-cs-class" id="bg-success-header-text-dark"
                            (click)="elegirColor($event, 'bg-success', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-info switch-header-cs-class" id="bg-info-header-text-dark"
                            (click)="elegirColor($event, 'bg-info', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-warning switch-header-cs-class" id="bg-warning-header-text-dark"
                            (click)="elegirColor($event, 'bg-warning', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-danger switch-header-cs-class" id="bg-danger-header-text-light"
                            (click)="elegirColor($event, 'bg-danger', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-light switch-header-cs-class" id="bg-light-header-text-dark"
                            (click)="elegirColor($event, 'bg-light', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-dark switch-header-cs-class" id="bg-dark-header-text-light"
                            (click)="elegirColor($event, 'bg-dark', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-focus switch-header-cs-class" id="bg-focus-header-text-light"
                            (click)="elegirColor($event, 'bg-focus', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-alternate switch-header-cs-class"
                            id="bg-alternate-header-text-light"
                            (click)="elegirColor($event, 'bg-alternate', 'header-text-light')">
                          </div>
                          <div class="divider">
                          </div>
                          <div class="swatch-holder bg-vicious-stance switch-header-cs-class"
                            id="bg-vicious-stance-header-text-light"
                            (click)="elegirColor($event, 'bg-vicious-stance', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-midnight-bloom switch-header-cs-class"
                            id="bg-midnight-bloom-header-text-light"
                            (click)="elegirColor($event, 'bg-midnight-bloom', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-night-sky switch-header-cs-class"
                            id="bg-night-sky-header-text-light"
                            (click)="elegirColor($event, 'bg-night-sky', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-slick-carbon switch-header-cs-class"
                            id="bg-slick-carbon-header-text-light"
                            (click)="elegirColor($event, 'bg-slick-carbon', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-asteroid switch-header-cs-class"
                            id="bg-asteroid-header-text-light"
                            (click)="elegirColor($event, 'bg-asteroid', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-royal switch-header-cs-class" id="bg-royal-header-text-light"
                            (click)="elegirColor($event, 'bg-royal', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-warm-flame switch-header-cs-class"
                            id="bg-warm-flame-header-text-dark"
                            (click)="elegirColor($event, 'bg-warm-flame', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-night-fade switch-header-cs-class"
                            id="bg-night-fade-header-text-dark"
                            (click)="elegirColor($event, 'bg-night-fade', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-sunny-morning switch-header-cs-class"
                            id="bg-sunny-morning-header-text-dark"
                            (click)="elegirColor($event, 'bg-sunny-morning', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-tempting-azure switch-header-cs-class"
                            id="bg-tempting-azure-header-text-dark"
                            (click)="elegirColor($event, 'bg-tempting-azure', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-amy-crisp switch-header-cs-class"
                            id="bg-amy-crisp-header-text-dark"
                            (click)="elegirColor($event, 'bg-amy-crisp', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-heavy-rain switch-header-cs-class"
                            id="bg-heavy-rain-header-text-dark"
                            (click)="elegirColor($event, 'bg-heavy-rain', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-mean-fruit switch-header-cs-class"
                            id="bg-mean-fruit-header-text-dark"
                            (click)="elegirColor($event, 'bg-mean-fruit', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-malibu-beach switch-header-cs-class"
                            id="bg-malibu-beach-header-text-light"
                            (click)="elegirColor($event, 'bg-malibu-beach', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-deep-blue switch-header-cs-class"
                            id="bg-deep-blue-header-text-dark"
                            (click)="elegirColor($event, 'bg-deep-blue', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-ripe-malin switch-header-cs-class"
                            id="bg-ripe-malin-header-text-light"
                            (click)="elegirColor($event, 'bg-ripe-malin', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-arielle-smile switch-header-cs-class"
                            id="bg-arielle-smile-header-text-light"
                            (click)="elegirColor($event, 'bg-arielle-smile', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-plum-plate switch-header-cs-class"
                            id="bg-plum-plate-header-text-light"
                            (click)="elegirColor($event, 'bg-plum-plate', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-happy-fisher switch-header-cs-class"
                            id="bg-happy-fisher-header-text-dark"
                            (click)="elegirColor($event, 'bg-happy-fisher', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-happy-itmeo switch-header-cs-class"
                            id="bg-happy-itmeo-header-text-light"
                            (click)="elegirColor($event, 'bg-happy-itmeo', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-mixed-hopes switch-header-cs-class"
                            id="bg-mixed-hopes-header-text-light"
                            (click)="elegirColor($event, 'bg-mixed-hopes', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-strong-bliss switch-header-cs-class"
                            id="bg-strong-bliss-header-text-light"
                            (click)="elegirColor($event, 'bg-strong-bliss', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-grow-early switch-header-cs-class"
                            id="bg-grow-early-header-text-light"
                            (click)="elegirColor($event, 'bg-grow-early', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-love-kiss switch-header-cs-class"
                            id="bg-love-kiss-header-text-light"
                            (click)="elegirColor($event, 'bg-love-kiss', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-premium-dark switch-header-cs-class"
                            id="bg-premium-dark-header-text-light"
                            (click)="elegirColor($event, 'bg-premium-dark', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-happy-green switch-header-cs-class"
                            id="bg-happy-green-header-text-light"
                            (click)="elegirColor($event, 'bg-happy-green', 'header-text-light')">
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="theme-settings__inner">
              <div class="scrollbar-container">
                <div class="theme-settings__options-wrapper">
                  <div class="p-3">
                    <ul class="list-group">
                      <li class="list-group-item">
                        <div class="card-header" style="height: 2rem; border-bottom: 0;">
                          <b>Elegir colores para Menú</b>
                          <div class="btn-actions-pane-right">
                            <button class="mb-2 mr-2 btn badge badge-pill badge-danger"
                              (click)="quitarColorMenu()">Quitar
                              Color</button>
                          </div>
                        </div>
                        <h5 class="pb-2">
                        </h5>
                        <div class="theme-settings-swatches">
                          <div class="swatch-holder bg-primary switch-header-cs-class"
                            id="bg-primary-header-text-light-menu"
                            (click)="elegirColorMenu($event, 'bg-primary', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-secondary switch-header-cs-class"
                            id="bg-secondary-header-text-light-menu"
                            (click)="elegirColorMenu($event, 'bg-secondary', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-success switch-header-cs-class"
                            id="bg-success-header-text-dark-menu"
                            (click)="elegirColorMenu($event, 'bg-success', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-info switch-header-cs-class" id="bg-info-header-text-dark-menu"
                            (click)="elegirColorMenu($event, 'bg-info', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-warning switch-header-cs-class"
                            id="bg-warning-header-text-dark-menu"
                            (click)="elegirColorMenu($event, 'bg-warning', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-danger switch-header-cs-class"
                            id="bg-danger-header-text-light-menu"
                            (click)="elegirColorMenu($event, 'bg-danger', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-light switch-header-cs-class" id="bg-light-header-text-dark-menu"
                            (click)="elegirColorMenu($event, 'bg-light', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-dark switch-header-cs-class" id="bg-dark-header-text-light-menu"
                            (click)="elegirColorMenu($event, 'bg-dark', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-focus switch-header-cs-class"
                            id="bg-focus-header-text-light-menu"
                            (click)="elegirColorMenu($event, 'bg-focus', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-alternate switch-header-cs-class"
                            id="bg-alternate-header-text-light-menu"
                            (click)="elegirColorMenu($event, 'bg-alternate', 'header-text-light')">
                          </div>
                          <div class="divider">
                          </div>
                          <div class="swatch-holder bg-vicious-stance switch-header-cs-class"
                            id="bg-vicious-stance-header-text-light-menu"
                            (click)="elegirColorMenu($event, 'bg-vicious-stance', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-midnight-bloom switch-header-cs-class"
                            id="bg-midnight-bloom-header-text-light-menu"
                            (click)="elegirColorMenu($event, 'bg-midnight-bloom', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-night-sky switch-header-cs-class"
                            id="bg-night-sky-header-text-light-menu"
                            (click)="elegirColorMenu($event, 'bg-night-sky', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-slick-carbon switch-header-cs-class"
                            id="bg-slick-carbon-header-text-light-menu"
                            (click)="elegirColorMenu($event, 'bg-slick-carbon', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-asteroid switch-header-cs-class"
                            id="bg-asteroid-header-text-light-menu"
                            (click)="elegirColorMenu($event, 'bg-asteroid', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-royal switch-header-cs-class"
                            id="bg-royal-header-text-light-menu"
                            (click)="elegirColorMenu($event, 'bg-royal', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-warm-flame switch-header-cs-class"
                            id="bg-warm-flame-header-text-dark"
                            (click)="elegirColorMenu($event, 'bg-warm-flame', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-night-fade switch-header-cs-class"
                            id="bg-night-fade-header-text-dark"
                            (click)="elegirColorMenu($event, 'bg-night-fade', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-sunny-morning switch-header-cs-class"
                            id="bg-sunny-morning-header-text-dark"
                            (click)="elegirColorMenu($event, 'bg-sunny-morning', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-tempting-azure switch-header-cs-class"
                            id="bg-tempting-azure-header-text-dark"
                            (click)="elegirColorMenu($event, 'bg-tempting-azure', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-amy-crisp switch-header-cs-class"
                            id="bg-amy-crisp-header-text-dark"
                            (click)="elegirColorMenu($event, 'bg-amy-crisp', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-heavy-rain switch-header-cs-class"
                            id="bg-heavy-rain-header-text-dark"
                            (click)="elegirColorMenu($event, 'bg-heavy-rain', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-mean-fruit switch-header-cs-class"
                            id="bg-mean-fruit-header-text-dark"
                            (click)="elegirColorMenu($event, 'bg-mean-fruit', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-malibu-beach switch-header-cs-class"
                            id="bg-malibu-beach-header-text-light"
                            (click)="elegirColorMenu($event, 'bg-malibu-beach', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-deep-blue switch-header-cs-class"
                            id="bg-deep-blue-header-text-dark"
                            (click)="elegirColorMenu($event, 'bg-deep-blue', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-ripe-malin switch-header-cs-class"
                            id="bg-ripe-malin-header-text-light"
                            (click)="elegirColorMenu($event, 'bg-ripe-malin', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-arielle-smile switch-header-cs-class"
                            id="bg-arielle-smile-header-text-light"
                            (click)="elegirColorMenu($event, 'bg-arielle-smile', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-plum-plate switch-header-cs-class"
                            id="bg-plum-plate-header-text-light"
                            (click)="elegirColorMenu($event, 'bg-plum-plate', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-happy-fisher switch-header-cs-class"
                            id="bg-happy-fisher-header-text-dark"
                            (click)="elegirColorMenu($event, 'bg-happy-fisher', 'header-text-dark')">
                          </div>
                          <div class="swatch-holder bg-happy-itmeo switch-header-cs-class"
                            id="bg-happy-itmeo-header-text-light"
                            (click)="elegirColorMenu($event, 'bg-happy-itmeo', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-mixed-hopes switch-header-cs-class"
                            id="bg-mixed-hopes-header-text-light"
                            (click)="elegirColorMenu($event, 'bg-mixed-hopes', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-strong-bliss switch-header-cs-class"
                            id="bg-strong-bliss-header-text-light"
                            (click)="elegirColorMenu($event, 'bg-strong-bliss', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-grow-early switch-header-cs-class"
                            id="bg-grow-early-header-text-light"
                            (click)="elegirColorMenu($event, 'bg-grow-early', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-love-kiss switch-header-cs-class"
                            id="bg-love-kiss-header-text-light"
                            (click)="elegirColorMenu($event, 'bg-love-kiss', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-premium-dark switch-header-cs-class"
                            id="bg-premium-dark-header-text-light"
                            (click)="elegirColorMenu($event, 'bg-premium-dark', 'header-text-light')">
                          </div>
                          <div class="swatch-holder bg-happy-green switch-header-cs-class"
                            id="bg-happy-green-header-text-light"
                            (click)="elegirColorMenu($event, 'bg-happy-green', 'header-text-light')">
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row p-3">
          <div class="col-md-12">
            <b>Logo de Empresa</b>
            <div class="card-body p-0" style="text-align: center;">
              <p-fileUpload name="listadoImagenes" [showCancelButton]="false" [showUploadButton]="false"
                invalidFileTypeMessageSummary="{0}:  'Tipo de archivo no válido', "
                invalidFileSizeMessageSummary="{0}:  'Tamaño de archivo no válido'"
                invalidFileTypeMessageDetail="'Tipo de archivo permitido': {0}." chooseLabel="Seleccione Logo"
                cancelLabel="Cancelar" accept="image/*" maxFileSize="1000000" (onSelect)="seleccionarImagenes($event)"
                invalidFileSizeMessageDetail="El tamaño máximo de carga es 1 MB.">
                <ng-template pTemplate="toolbar"></ng-template>
                <ng-template let-file pTemplate="file"></ng-template>
                <ng-template pTemplate="content"></ng-template>
              </p-fileUpload>
              <div class="card text-center p-3">
                <div *ngIf="archivoPerfilByte">
                  <img #img class="foto-perfil card-img-top img-responsive" src="{{archivoPerfilByte}}"
                    alt="Card image cap" width="50">
                  <div class="text-muted text-center">
                    <br>
                    <button class="btn btn-sm btn-danger mr-1" (click)="eliminarItem()"> <i class="fa fa-trash"
                        aria-hidden="true"></i> Eliminar Logo</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>