<div class="container pb-5 col-lg-12 col-md-12 col-sm-12">
  <div class="text-center">
  </div>
  <form #frmEmpresa='ngForm'>
    <div class="text card m-2">
      <div class="card-header">
        <b>Configuración de Empresa</b>
        <div class="btn-actions-pane-right">
          <button type="submit" (click)="guardarEmpresa(frmEmpresa)" class="btn btn-success"><i class="fa fa-save"
              aria-hidden="true"></i> Guardar</button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="rut">RUT</label>
              <input required name="rut" class="form-control form-control-sm text-uppercase" [disabled]="true"
                [(ngModel)]="empresa.rut" placeholder="Ingrese el RUT">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Razón Social</label>
              <input required name="celular" class="form-control form-control-sm text-uppercase" [disabled]="true"
                [(ngModel)]="empresa.razon_social" placeholder="Ingrese su razon social.">
            </div>
          </div>
          
          
          
        </div>

        <div class="row p-3">
          <div class="col-md-3 text-center">
            <div class="form-group">
              <input type="checkbox" class=" form-check-input" name="obligar_rut" [(ngModel)]="empresa.obligar_rut">
              <label>Obligar RUT</label>
            </div>
          </div>
          <div class="col-md-3 text-center">
            <div class="form-group">
              <input type="checkbox" class=" form-check-input" name="obligar_nombre"
                [(ngModel)]="empresa.obligar_nombre">
              <label>Obligar Nombre</label>
            </div>
          </div>
          <div class="col-md-3 text-center">
            <div class="form-group">
              <input type="checkbox" class=" form-check-input" name="obligar_correo"
                [(ngModel)]="empresa.obligar_correo">
              <label>Obligar Email</label>
            </div>
          </div>
          <div class="col-md-3 text-center">
            <div class="form-group">
              <input type="checkbox" class=" form-check-input" name="obligar_celular"
                [(ngModel)]="empresa.obligar_celular">
              <label>Obligar Teléfono</label>
            </div>
          </div>
        </div>

        <div class="row p-3">
          <div class="col-md-12">
            <div class="theme-settings__inner">
              <div class="scrollbar-container">
                <div class="theme-settings__options-wrapper">
                    <ul class="list-group">
                      <li class="list-group-item">
                        <div class="card-header" style="height: 2rem; border-bottom: 0;">
                          <b>Elegir colores para la cabecera</b>
                          <div class="btn-actions-pane-right">
                            <button class="mb-2 mr-2 btn badge badge-pill badge-danger" (click)="quitarColor()">Quitar
                              Color</button>
                          </div>
                        </div>
                        <h5 class="pb-2">
                        </h5>
                        <div class="theme-settings-swatches">
                          <div class="swatch-holder {{item}} switch-header-cs-class" id="{{item.replace(' ', '-')}}"
                            (click)="elegirColor($event, item)" *ngFor="let item of coloresDuros">
                          </div>
                          <div class="divider">
                          </div>
                          <div class="swatch-holder {{item}} switch-header-cs-class" id="{{item.replace(' ', '-')}}"
                            (click)="elegirColor($event, item)" *ngFor="let item of coloresCombinados">
                          </div>
                        </div>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row p-3">
          <div class="col-md-12">
            <div class="theme-settings__inner">
              <div class="scrollbar-container">
                <div class="theme-settings__options-wrapper">
                    <ul class="list-group">
                      <li class="list-group-item">
                        <div class="card-header" style="height: 2rem; border-bottom: 0;">
                          <b>Elegir colores para Menú</b>
                          <div class="btn-actions-pane-right">
                            <button class="mb-2 mr-2 btn badge badge-pill badge-danger"
                              (click)="quitarColorMenu()">Quitar
                              Color</button>
                          </div>
                        </div>
                        <h5 class="pb-2">
                        </h5>
                        <div class="theme-settings-swatches">
                          <div class="swatch-holder {{item}} switch-header-cs-class"
                            id="{{item.replace(' ', '-')}}-menu" (click)="elegirColorMenu($event, item)"
                            *ngFor="let item of coloresDurosMenu">
                          </div>
                          <div class="divider">
                          </div>
                          <div class="swatch-holder {{item}} switch-header-cs-class"
                            id="{{item.replace(' ', '-')}}-menu" (click)="elegirColorMenu($event, item)"
                            *ngFor="let item of coloresCombinadosMenu">
                          </div>
                        </div>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row p-3">
          <div class="col-md-12">
            <b>Logo de Empresa</b>
            <div class="card-body p-0" style="text-align: center;">
              <p-fileUpload name="listadoImagenes" [showCancelButton]="false" [showUploadButton]="false"
                invalidFileTypeMessageSummary="{0}:  'Tipo de archivo no válido', "
                invalidFileSizeMessageSummary="{0}:  'Tamaño de archivo no válido'"
                invalidFileTypeMessageDetail="'Tipo de archivo permitido': {0}." chooseLabel="Seleccione Logo"
                cancelLabel="Cancelar" accept="image/*" maxFileSize="1000000" (onSelect)="seleccionarImagenes($event)"
                invalidFileSizeMessageDetail="El tamaño máximo de carga es 1 MB.">
                <ng-template pTemplate="toolbar"></ng-template>
                <ng-template let-file pTemplate="file"></ng-template>
                <ng-template pTemplate="content"></ng-template>
              </p-fileUpload>
              <div class="card text-center p-3">
                <div *ngIf="archivoPerfilByte">
                  <img #img class="foto-perfil card-img-top img-responsive" src="{{archivoPerfilByte}}"
                    alt="Card image cap" width="50">
                  <div class="text-muted text-center">
                    <br>
                    <button class="btn btn-sm btn-danger mr-1" (click)="eliminarItem()"> <i class="fa fa-trash"
                        aria-hidden="true"></i> Eliminar Logo</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>