/* You can add global styles to this file, and also import other style files */
.has-error {
  border-bottom: 2px solid #ff0000 !important;
}

.has-warning {
  border-bottom: 2px solid #ffc107 !important;
}

.ng-touched.ng-invalid:not(form) {
  border-bottom: 2px solid #ff0000;
}

#modal {
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
}

#modal:target {
  opacity: 1;
  visibility: visible
}

.modal-content {
  background: #34BC9D;
  position: relative;
  z-index: 20;
  border-radius: 5px;
}

#modal .overlay {
  background-color: #000;
  background: rgb(82 82 82 / 80%);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10
}

.p-fileupload-content {
  padding: 0!important;
}

.iti {
  display: block!important;
}
