<app-encabezado></app-encabezado>
<br>
<form class="container pb-5 col-lg-10 col-md-12 col-sm-12">
  <div class="card mb-5">
    <div class="card-header">
      <div class="row">
        <div class="col-md-12">
          <b>Tickets Generados</b>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="p-1 ps-3">
        <h6>Fecha</h6>
      </div>
      <div class="input-group mb-3 p-2 pt-0">
        <input name="fecha_sacado" type="date" class="form-control form-control-sm  text-uppercasem"
          [(ngModel)]="fecha_sacado">
        <div class="input-group-append">
          <button class="btn btn-outline-primary btn-sm" type="button" (click)="listarTickets()"><i class="fa fa-search"
              aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-sm table-bordered mb-0">
          <thead>
            <tr>
              <th>RUT</th>
              <th>Nombre</th>
              <th>Email</th>
              <th>Telefono</th>
              <th>Fecha</th>
              <th>Numeración</th>
            </tr>
          </thead>
          <tbody style="background-color: #ffffff;">
            <tr *ngFor="let ticket of tickets">
              <td>{{ticket.rut}}</td>
              <td>{{ticket.nombres}}</td>
              <td>{{ticket.email}}</td>
              <td>{{ticket.telefono}}</td>
              <td>{{ticket.fecha_sacado}} </td>
              <td>{{ticket.codigo_tipo_operacion}}-{{ticket.numeracion}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>

<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>