<div class="ol-xl-4 mb-4" *ngIf="mostrarBoton">
  <div class="card mb-2 widget-content pb-1 pt-1">
    <div class="widget-content-outer">
      <div class="widget-content-wrapper">
        <div class="widget-content-left">
          <div class="widget-heading">Bienvenidos Q-Virtual</div>
          <div class="widget-subheading">Generador de Tickets en línea.</div>
        </div>
      </div>
    </div>
    <a routerLink="/" class="mb-2 mr-2 btn badge badge-pill badge-success"><i class="fa fa-eye pr-1"
        aria-hidden="true"></i>Ticket</a>
  </div>
</div>
<form #frmTickets='ngForm' class="container pb-5 col-lg-12 col-md-12 col-sm-12">
  <div class="card mb-5">
    <div class="card-header">
      <b>Tickets Generados</b>
      <div class="btn-actions-pane-right">
        <button type="button" class="btn btn-success ml-1 btn-sm" (click)="listarTickets(frmTickets)"><i
            class="fa pe-7s-refresh pr-1" aria-hidden="true"></i>Recargar</button>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>Seleccione la Sucursal</label>
            <select class="form-control form-control-sm" aria-label="Default select example"
              [(ngModel)]="tiendaSeleccionada" name="tiendaSeleccionada" required>
              <option *ngFor="let tienda of tiendas" [ngValue]="tienda.codigo">{{tienda.codigo}} --
                {{tienda.direccion}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>FECHA</label>
            <div class="input-group-append">
              <input name="fecha_sacado" type="date" class="form-control form-control-sm  text-uppercasem"
                [(ngModel)]="fecha_sacado" required>
              <button class="btn btn-outline-primary btn-sm" type="button" (click)="listarTickets(frmTickets)"><i
                  class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-sm table-bordered mb-0">
          <thead>
            <tr>
              <th>RUT</th>
              <th>Nombre</th>
              <th>Email</th>
              <th>Telefono</th>
              <!-- <th>Estado</th> -->
              <th>Fecha</th>
              <th>Numeración</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody style="background-color: #ffffff;">
            <tr *ngFor="let ticket of tickets">
              <td>{{ticket.rut}}</td>
              <td>{{ticket.nombres}}</td>
              <td>{{ticket.email}}</td>
              <td>{{ticket.telefono}}</td>
              <!-- <td>{{ticket.estado}}</td> -->
              <td>{{ticket.fecha_sacado}} </td>
              <td>{{ticket.codigo_tipo_operacion}}-{{ticket.numeracion}} </td>
              <td>
                <button *ngIf="!ticket.estado" (dblclick)="noHacerNada()" (click)="atender(ticket, 'EN ATENCION')"
                  class="mb-2 mr-2 btn badge badge-pill badge-success">Atender</button>
                <button *ngIf="ticket.estado == 'EN ATENCION'" (dblclick)="noHacerNada()"
                  (click)="atender(ticket, 'ATENDIDO')" class="mb-2 mr-2 btn badge badge-pill badge-primary">En
                  Atención</button>
                <button *ngIf="ticket.estado == 'ATENDIDO'"
                  class="mb-2 mr-2 btn badge badge-pill badge-primary">Atendido</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>

<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>